<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - My Webpage</title>
    {% endblock %}
</head>

<body>
{#Block for the navigation bar#}
        {% block navBar %}
        <ul>
            <li><a href="{{url_for('load_form')}}">Form</a></li>

        </ul>
        {% endblock %}
        <br>
{#placeholder for the input Form#}
        {%  block inputForm %}{% endblock %}

{#placeholder for the graph#}
        {%  block inputGraph %}{% endblock %}
</body>
</html>