<!DOCTYPE html>
{% extends "baseTemplate.html" %}

{% block inputForm %}
    <h1>Select your file</h1>
          <form action = "http://localhost:5000/make_graph" method = "POST" enctype = "multipart/form-data">
          <p>
            Please select your input file:
          </p>
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
{% endblock %}
